
*{
    margin: 0;
    padding: 10px;
    justify-content: center;
    position: relative;
    background-color: rgb(24, 57, 58);
} 
h6{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
.fbox{
    border: 100px;
    height: 500px;
    width: 300px;
    background-color: rgb(112, 201, 202);
    border-radius: 15px;
}
.box1,.box2,.box3{
    height: 200px;
    width: 200px;
    border-radius: 15px;
   background-color:rgb(112, 201, 202) ;
   box-sizing: border-box;
   margin: 10px;
   justify-content: flex-start;
}
input{
    width: 600px;
    background-color:rgb(112, 201, 202);
    border-radius: 10px;
    border: 0px;
}
.boxes{
    display: flex;
    justify-content: flex-start;
}
.lbox{
    border: 100px;
    height: 150px;
    width: 800px;
    background-color: rgb(112, 201, 202);
    border-radius: 15px;
  
}
.container{
   display: flex;
   justify-content: flex-end;
   align-content: space-around;
  position: static;
  margin-right: 30%;
  
}
